.nav-links {
  margin: 0 20px;
  text-decoration: none;
  letter-spacing: 1.75px;
  font-size: 0.75rem;
  color: tan;
}

.nav-text {
  color: tan;
  left: 20px;
  position: relative;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: Ronet DEMO;
}

.sentence {
  opacity: 1;
  fill: tan;
}

.alternative {
  fill: tan;
  opacity: 0;
}
