.secondary-cursor {
  z-index: 1000;
  border-radius: 50%;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;

  border: 1px solid tan;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out;

  &.regular {
    width: 40px;
    height: 40px;
  }
  &.small {
    width: 60px;
    height: 60px;
  }
}

.cursor-dot {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: tan;
}

.secondary-cursor {
  z-index: 10000;

  pointer-events: none;
  //overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}

.secondary-cursor {
  width: 30px;
  height: 30px;
  color: tan;
}

* {
  cursor: none;
}

.slider-drag {
}

.hamburger {
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bgUp {
  from {
    background-color: tan;
  }

  to {
    background-color: tan;
  }
}

@keyframes bgDown {
  from {
    background-color: tan;
  }

  to {
    background-color: tan;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes translateLeftDot {
  from {
    transform: translate(20px, -50%);
  }

  to {
    transform: translate(0px, -50%);
  }
}

@keyframes translateRightDot {
  from {
    transform: translate(-20px, -50%);
  }

  to {
    transform: translate(0px, -50%);
  }
}
